.genre-toggle {
  display: flex;
  margin: 20px 0;
}

.genre-toggle button {
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
  opacity: 0.6;
  background: white;
  border: 0;
  outline: 0;
  text-transform: uppercase;
}

.genre-toggle button:first-child {
  margin-left: 0;
}

.genre-toggle button.active {
  border-bottom: 2px solid #f65621;
  opacity: 1;
}
